{{template "partials/bar" .}}
<footer class="sticky top-[100vh] mt-10">
    <ul class="list-none p-0">
        <li class="flex space-x-6">
            <a href="/">Home</a>
            <a href="/manga">All Manga</a>
            <a href="/contact">Contact</a>
            <a href="/api">API</a>
            <a href="/rss">RSS</a>
        </li>
    </ul>
    <span>
        Made with
        <a
            class="no-underline"
            href="https://www.buymeacoffee.com/bairrya"
            target="_blank"
            >☕️</a
        >
    </span>
</footer>
