{{ define "manga"}}
<p class="text-base italic my-5">{{.Data.Meta}}</p>
<ul class="list-none p-0">
    {{ range .Data.Manga }}
    <li class="flex flex-col space-y-1 pb-4">
        <a href="https://www.viz.com/shonenjump/chapters/{{.Handle}}"
            >{{.Title}} - {{ if (eq .LatestChapter 0.0) }}Special One-Shot!{{
            else }}Ch. {{.LatestChapter}}{{ end }}</a
        >
        <div class="flex space-x-2">
            {{ if (index .Chapters 0).Date }}
            <p class="m-0">{{ (index .Chapters 0).Date }}</p>
            <p class="m-0">|</p>
            {{ end }}
            <a href="/manga/{{.Handle}}">More info</a>
        </div>
    </li>
    {{ end }}
</ul>
{{ end }}
